<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            font-family: monospace;
            text-align: center;
            font-size: .25vw;
            transform:scale(2.0,1.0);
        }
    </style>
</head>
<body>
<div id="ascii-stream">{{ html|safe }}</div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    var updateFrame_interval =  setInterval(updateFrame, 1000/{{ FPS }});
    var reload_interval =  setInterval(reload, 1000);

    let frames = []

    const stream = document.getElementById('ascii-stream');

    async function reload() {
        var call = $.ajax({
            dataType: "json",
            //url: '/webcam_feed_json',
            url: '/webcam_feed_json_burst',
            data: '{{ html_burst }}',
        });

        //Listening to completion
        call.done(function(data){
          //stream.innerHTML = data.html;
          frames = frames.concat(data.html_burst);
        });
        }

    async function updateFrame() {
        console.log(frames.length);
        if (frames.length > 1) {
            var frame = frames.shift();
            stream.innerHTML = frame;
        }
        if (frames.length > {{ FPS }}) {
            frames = frames.slice({{ FPS }}*-1);
        }
    }




</script>

</html>